<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="envanter" connectionString="Data Source=172.16.0.135;Initial Catalog=envanter; User Id=sa; Password=1;" providerName="System.Data.SqlClient"/>
		<add name="Birimler" connectionString="Data Source=172.16.0.135;Initial Catalog=Birimler; User Id=sa; Password=1;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<pages clientIDMode="Static"></pages>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>

		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="envanter"
             passwordFormat="Clear"
						 enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
	</system.web>
</configuration>
